/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-arrow-circle-bottom-4x {
  background-image: url(sprite.png);
  background-position: -66px 0px;
  width: 32px;
  height: 32px;
}
.icon-arrow-circle-bottom {
  background-image: url(sprite.png);
  background-position: 0px -66px;
  width: 8px;
  height: 8px;
}
.icon-arrow-circle-right-8x {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
}
